.container-fluid
	.card.mat-elevation-z8
		.card-header
			.row
				.col-md-9
					h2 Fragenliste
				.col-md-3
					a.btn.btn-primary.float-right(routerLink="/create")
						| Neue Frage anlegen
		.card-body
			.row
				.col
					table.table.table-striped(*ngIf="questionList")
						thead
							tr
								th Fragen-ID
								th Frage
						tbody
							ng-container(*ngFor="let question of questionList")
								tr.link([routerLink]="['/detail', question.Quid]",
									title="Zu den Fragendetails"
								)
									td
										| {{ question.Quid }}
									td
										| {{ question.Question}}
								ng-container(*ngIf="questionList.length === 0")
									| Keine Fragen gefunden
					ng-container(*ngIf="!questionList")
						| Laden ...
